.header {
 
background:url(../img/logo.png) no-repeat;
                          width=536px; height:40px;
                          margin:0px;						  }
header {overflow:hidden;}
nav  li{ display:inline;
margin-left:24px;
text-decoration:none; }
nav { float:right;  
      padding-top:;
	  text-decoration:none;}
li { margin-left:24px;  }

a  { color:#7e7e7e;
     text-decoration:none;
text-transform:;
font-size:15px;
font-weight:;	 }



a:hover,  { color:black;
                       }
.middle {background-color:gray;
background:url(../img/middle.jpg) no-repeat;
                         
width:1903;
height:400px;
margin-top:5px;}

.last {background-color:black;
width:100%;
height:40px;
margin:0px;
margin-top:-30px;}

 p {
 float:left; 
 padding-left:300px;
 color:white;
 margin-bottom:7px;
 }

.middle h1 { font-size:35px;
             color:white;
             margin-top:-3px; 
             padding-top: 120px;
			 font-weight:none;
             
             font-family: Arial;
             text-align:center;}
			 
	
	input {width:500px;
	height:33px;
	color:grey;
margin-left:400px;
margin-bottom:100px;	}

img {margin-left:0px;}